In [1]:
#Webscrape wikipedia for lockdown start dates and end dates
import urllib.request
from bs4 import BeautifulSoup

In [97]:
#URL for the wikipedia page
url = "https://en.wikipedia.org/wiki/COVID-19_pandemic_lockdowns"
#Open the webpage
page = urllib.request.urlopen(url)
#Read and extract the HTML from the page
soup = BeautifulSoup(page, "lxml")

In [100]:
#Display title of the webpage
soup.title.string

'COVID-19 pandemic lockdowns - Wikipedia'

In [279]:
#Find the correct table with all the details needed
right_table = soup.find("table", class_="wikitable sortable mw-collapsible")

In [297]:
#Go through the HTML to find the <tr> tags which contain the country name, start date and end date of lockdowns
countries = []
startDate=[]
endDate=[]
#Extract information required from the tags
for row in right_table.findAll('tr'):
    #Information stored in <td> tags
    #Find all <td> tags
    cells=row.findAll('td')
    #3 <td> tags per <tr> tag
    if len(cells)==3:
        getCountry = cells[0].findAll('a')
        countries.append(getCountry[0].contents[0])
        startDate.append(cells[1].find(text=True))        
        endDate.append(cells[2].find(text=True))

In [303]:
import pandas as pd
#Create dataframe with country name, start date, end date
df=pd.DataFrame(countries,columns=['Country'])
df['Start Date']=startDate
df['End Date']=endDate
#Display 30 rows only
pd.set_option('display.max_rows',50)
df

                  Country  Start Date     End Date
0                 Armenia  2020-03-24   2020-05-04
1               Australia  2020-03-23

2                 Austria  2020-03-16   2020-04-13
3              Azerbaijan  2020-03-31   2020-04-20
4              Bangladesh  2020-03-26   2020-05-16
5                Barbados  2020-03-28   2020-05-03
6                 Belgium  2020-03-18  2020-05-04
7                 Bermuda  2020-04-04   2020-05-02
8                 Bolivia  2020-03-22   2020-07-31
9                Botswana  2020-04-02   2020-04-30
10              São Paulo  2020-03-24   2020-05-10
11  Republic of the Congo  2020-03-31   2020-04-20
12             Costa Rica  2020-03-23

13                Croatia  2020-03-18   2020-04-19
14         Czech Republic  2020-03-16   2020-04-12
15                Ecuador  2020-03-16   2020-03-31
16            El Salvador  2020-03-12   2020-04-02
17                Eritrea  2020-04-02   2020-04-23
18                   Suva  2020-04-03   2020-04-17
19                Georgia  2020-03-31   2020-04-21
20                Germany  2020-03-23   2020-04-20
21               Guernsey  2020-03-25

22               Honduras  2020-03-20   2020-05-17
23                Hungary  2020-03-28   2020-04-10
24                  India  2020-03-25   2020-06-30
..                    ...         ...          ...
38       Papua New Guinea  2020-03-24   2020-04-07
39               Paraguay  2020-03-20   2020-05-03
40                   Peru  2020-03-16   2020-06-30
41               Portugal  2020-03-19   2020-04-02
42                 Rwanda  2020-03-21   2020-04-19
43                  Samoa  2020-03-26   2020-04-08
44             San Marino  2020-03-14   2020-05-05
45                  Qatif  2020-03-09        Area

46                 Riyadh  2020-03-26        City

47              Singapore  2020-04-07   2020-06-01
48           South Africa  2020-03-26   2020-04-30
49                  Spain  2020-03-14   2020-05-09
50              Sri Lanka  2020-03-18   2020-06-21
51               Thailand  2020-03-25   2020-05-31
52    Trinidad and Tobago  2020-03-17   2020-03-31
53                Tunisia  2020-03-22   2020-04-19
54   United Arab Emirates  2020-03-26   2020-04-17
55         United Kingdom  2020-03-23

56               Illinois  2020-03-21   2020-05-30
57               Michigan  2020-03-24   2020-04-13
58               New York  2020-03-22   2020-06-13
59                 Oregon  2020-03-24

60              Wisconsin  2020-03-24

61                Vietnam  2020-04-01   2020-04-22
62               Zimbabwe  2020-03-30   2020-05-02

[63 rows x 3 columns]

In [245]:
#Checking to see if there are any null values to clean
df.isnull().values.any()

False

In [299]:
#Replace the anomalous data which contains the strings "Area" and "City". This has only occurred in the Saudi Arabia data.
df.at[45, 'End Date'] = ""
df.at[46, 'End Date'] = ""
df

                  Country  Start Date     End Date
0                 Armenia  2020-03-24   2020-05-04
1               Australia  2020-03-23

2                 Austria  2020-03-16   2020-04-13
3              Azerbaijan  2020-03-31   2020-04-20
4              Bangladesh  2020-03-26   2020-05-16
5                Barbados  2020-03-28   2020-05-03
6                 Belgium  2020-03-18  2020-05-04
7                 Bermuda  2020-04-04   2020-05-02
8                 Bolivia  2020-03-22   2020-07-31
9                Botswana  2020-04-02   2020-04-30
10              São Paulo  2020-03-24   2020-05-10
11  Republic of the Congo  2020-03-31   2020-04-20
12             Costa Rica  2020-03-23

13                Croatia  2020-03-18   2020-04-19
14         Czech Republic  2020-03-16   2020-04-12
..                    ...         ...          ...
48           South Africa  2020-03-26   2020-04-30
49                  Spain  2020-03-14   2020-05-09
50              Sri Lanka  2020-03-18   2020-06-21
51               Thailand  2020-03-25   2020-05-31
52    Trinidad and Tobago  2020-03-17   2020-03-31
53                Tunisia  2020-03-22   2020-04-19
54   United Arab Emirates  2020-03-26   2020-04-17
55         United Kingdom  2020-03-23

56               Illinois  2020-03-21   2020-05-30
57               Michigan  2020-03-24   2020-04-13
58               New York  2020-03-22   2020-06-13
59                 Oregon  2020-03-24

60              Wisconsin  2020-03-24

61                Vietnam  2020-04-01   2020-04-22
62               Zimbabwe  2020-03-30   2020-05-02

[63 rows x 3 columns]

In [300]:
#Output the number of countries announcing lockdown in March
print("Number of countries in lockdown beginning March: " + str(len(df.loc[df['Start Date'].str.contains('2020-03')])) + "/" + str(len(df['Start Date'])))

Number of countries in lockdown beginning March: 57/63

In [313]:
#Output the number of countries announcing the easing of lockdown by June
easeApril = len(df.loc[df['End Date'].str.contains('2020-04')])
easeMay = len(df.loc[df['End Date'].str.contains('2020-05')])
easeJune = len(df.loc[df['End Date'].str.contains('2020-06')])
easeJuly = len(df.loc[df['End Date'].str.contains('2020-07')])
print("Number of countries out of lockdown by April: " + str(easeApril) + "/" + str(len(df['End Date'])))
print("Number of countries out of lockdown by May: " + str((easeApril+easeMay)) + "/" + str(len(df['End Date'])))
print("Number of countries out of lockdown by June: " + str((easeApril+easeMay+easeJune)) + "/" + str(len(df['End Date'])))
print("Number of countries out of lockdown by July: " + str((easeApril+easeMay+easeJune+easeJuly)) + "/" + str(len(df['End Date'])))

Number of countries out of lockdown by April: 23/63
Number of countries out of lockdown by May: 40/63
Number of countries out of lockdown by June: 48/63
Number of countries out of lockdown by July: 49/63